<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">
    <file>src</file>
    <file>tests</file>

    <exclude-pattern>*/src/Kernel.php</exclude-pattern>
    <exclude-pattern>*/src/migrations/*</exclude-pattern>
    <exclude-pattern>*/vendor/*</exclude-pattern>

    <arg name="extensions" value="php"/>
    <arg name="tab-width" value="4"/>
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="cache" value="var/cache/phpcs"/>
    <arg value="s"/>
    <arg value="p"/>
    <arg  value="np"/>
    <rule ref="PSR12"/>
</ruleset>